.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #0075f6;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.co {
  color: #fff;
}
.co :hover{
  color: #333399;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}


nav,
section {
  display: block;
}




owl-carousel {
  position: relative;
}

.owl-carousel.home-slider {
  position: relative;
  height: 750px;
  z-index: 0;
}

.owl-carousel.home-slider:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 80%;
  background-image: linear-gradient(150deg, rgb(85, 51, 255) 15%, rgb(5, 213, 255) 70%, rgb(166, 255, 203) 94%);
  /* background: #77b7ff; */
  opacity: 1;
  content: "";
  z-index: -1;
}



.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  position: relative;
  z-index: 0;
}


/* @media (max-width: 1199.98px) {
  .owl-carousel .home-slider .slider-item {
    background-position: center center !important;
  }
} */


.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
}


.owl-carousel.home-slider .slider-item .slider-text {
  height: 750px;
  z-index: 0;
}


@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text {
    text-align: center;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .one-third {
  background-size: cover;
  width: 80%;
  position: relative;
  height: 650px;
  z-index: -1;
  /* -webkit-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
  box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16); */
}


/* .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
} */


@media (max-width: 760px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-third {
    /* background-size: cover; */
    /* #sample{
    background: url(image-data.jpg);
    background-position: -100px -100px;
    width: 200px;
    height: 200px;
} */
/* background-image:url(images/photo2.jpg); */
    background-position: -150px 0px;
    width: 100%;
    z-index: 0;
  }


  .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
    opacity: 0.3;
  }
  .owl-carousel.home-slider .slider-item .slider-text .one-third:after {
    opacity: 0;
  }
}


.owl-carousel.home-slider .slider-item .slider-text .one-forth {
  width: 50%;
  position: relative;
}


@media (min-width: 768px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1200px;
    margin: 0 auto;
  }
}


@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow:-moz-scrollbars-vertical;
    z-index: 1;
    padding: 1em;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
  width: 100%;
}

/*
@media (min-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    max-width: 50%;
    padding-left: 45px;
    padding-right: 3em;
  }
}
*/


/*.owl-carousel.home-slider .slider-item .slider-text .icon-video {
  position: absolute;
  top: 120px;
  right: 70px;
  content: "";
  width: 70px;
  height: 70px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.owl-carousel.home-slider .slider-item .slider-text .icon-video span {
  font-size: 20px;
  color: #000000;
}
*/


.owl-carousel.home-slider .slider-item .slider-text .subheading {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0075f6;
}


.owl-carousel.home-slider .slider-item .slider-text .text {
  position: relative;
  z-index: 1;
}


.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 60px;
  color: #000000;
  line-height: 1.2;
  font-weight: 800;
}
.owl-carousel.home-slider .slider-item .slider-text h1 span {
  font-weight: 800;
  color: #0075f6;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    color: #fff;
    font-size: 50px;
  }
  .owl-carousel.home-slider .slider-item .slider-text p{
    color: #fff;
  }
}
@media (max-width: 767.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}


.owl-carousel.home-slider .slider-item .slider-text h2 {
  font-size: 30px;
  font-weight: 400;
}

 .aboutme .img {
  display: block;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.aboutme .img-about {
  width: 100%;
  z-index: 0;
  position: absolute;
}

.aboutme .img-about .overlay {
   width: 40%;
   height: 30%;
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   content: "";
   z-index: -1;
   background: #0075f6;
   margin-top: 40px;
   margin-left: -60px;
   opacity: 1;
}

/* .aboutme .img-about .img {
    background-size: cover;
  display: block;
  width: 100%;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
  box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
} */

/* .overlay.back {
  position: relative;
  height: 750px;
  z-index:0;
} */

/* .overlay.back:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%; */
  /* background-image: linear-gradient(150deg, rgb(85, 51, 255) 15%, rgb(5, 213, 255) 70%, rgb(166, 255, 203) 94%); */
  /* background: #77b7ff;
  opacity: 1;
  content: "";
  z-index: -1;
} */

.test:hover {
  font-size: 0;
}

.test:hover:before {
  font-size: 20px;
  content: attr(data-hover);
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}


#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ftco-loader.show {
  -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
