.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

/* .jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  /* background-image: linear-gradient(150deg, rgb(85, 51, 255) 15%, rgb(5, 213, 255) 70%, rgb(166, 255, 203) 94%); */
  /* background: #9575CD; */
  /* color: floralwhite; */
} */

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

/* body {
  margin:0;
  padding: 50px 0px 0px 0px;
  z-index: 2;
} */

nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
h6_black {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
/* img {
  vertical-align: middle;
  border-style: none;
} */

.navbar-dark {
  background-color: #512DA8;
}

.my-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .my-navbar-light {
    background: #000000 !important;
    position: absolute;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.my-navbar-light .container {
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}

/* .my-navbar-light .navbar-brand {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
} */

.my-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  font-weight: 400;
  opacity: 1 !important;
}

@media (max-width: 991.98px) {
  .my-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 0;
    color: #fff;
  }
}

.my-navbar-light .navbar-nav > .nav-item > .nav-link span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

@media (max-width: 1199.98px) {
  .my-navbar-light .navbar-nav > .nav-item > .nav-link span {
    display: inline-block;
  }
}

.my-navbar-light .navbar-nav > .nav-item > .nav-link span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #0075f6;
  visibility: visible;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.my-navbar-light .navbar-nav > .nav-item > .nav-link:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

/* .my-navbar-light .navbar-nav > .nav-item.cta > a {
  color: #fff;
  border: 1px solid #0075f6;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 18px;
  padding-right: 18px;
  background: #0075f6;
  margin-top: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.my-navbar-light .navbar-nav > .nav-item.cta > a span {
  display: inline-block;
  color: #fff;
}
.my-navbar-light .navbar-nav > .nav-item.cta > a:hover {
  background: #0075f6;
  border: 1px solid #0075f6;
}
.my-navbar-light .navbar-nav > .nav-item.cta.cta-colored a {
  border: 1px solid #a0f669;
  background: #a0f669 !important;
}
*/

.my-navbar-light .navbar-nav > .nav-item.active >a {
  background: transparent;
  background: none;
  color: #0075f6;
}

/* .my-navbar-light .navbar-nav > .nav-item .nav-link.active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
} */

@media (max-width: 991.98px) {
  .my-navbar-light .navbar-nav > .nav-item.active > a {
    color: #0075f6;
  }
}

.my-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.my-navbar-light .navbar-toggler:hover,
.my-navbar-light .navbar-toggler:focus {
  text-decoration: none;
  color: #0075f6;
  outline: none !important;
}

/* .my-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0 15px;
}

@media (max-width: 991.98px) {
  .my-navbar-light.scrolled .nav-item > .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 20px !important;
  }
}

.my-navbar-light.scrolled .nav-item.active > a {
  color: #0075f6 !important;
} */



/* .my-navbar-light.scrolled .nav-item.cta > a {
  color: #fff !important;
  background: #0075f6;
  border: none !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: 5px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.my-navbar-light.scrolled .nav-item.cta > a span {
  display: inline-block;
  color: #fff !important;
}
.my-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: #0075f6;
}

@media (max-width: 991.98px) {
  .my-navbar-light.scrolled .navbar-nav {
    background: none;
    border-radius: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
}
.my-navbar-light.scrolled .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.my-navbar-light.scrolled .nav-link {
  color: #000000 !important;
}
.my-navbar-light.scrolled .nav-link.active {
  color: #0075f6 !important;
}
.my-navbar-light.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.my-navbar-light.scrolled.sleep {
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.my-navbar-light.scrolled .navbar-brand {
  color: #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 24px;
} */

/* .carousel-item {
  height: 650px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 650px;
    /* min-width: 900px; */
    /* width: 500px; */
} */

/* .hero h3.vr {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: center;
  text-orientation: sideways;
  margin: 0rem;
  position: absolute;
  top: 0;
  left: 4em;
  height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 16px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.3);
} */
/*
@media (max-width: 1199.98px) {
  .hero h3.vr {
    opacity: 0;
    display: none;
  }
}
*/

owl-carousel {
  position: relative;
}


/* .owl-carousel .owl-item {
  opacity: 0.4;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}


.owl-carousel .owl-dots {
  text-align: center;
} */

/*
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  position: relative;
}
.owl-carousel .owl-dots .owl-dot:after {
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #b3b3b3;
}

*/


.owl-carousel.home-slider {
  position: relative;
  height: 750px;
  z-index: 0;
}

.owl-carousel.home-slider:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 80%;
  background-image: linear-gradient(150deg, rgb(85, 51, 255) 15%, rgb(5, 213, 255) 70%, rgb(166, 255, 203) 94%);
  /* background: #77b7ff; */
  opacity: 1;
  content: "";
  z-index: -1;
}



.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  position: relative;
  z-index: 0;
}


@media (max-width: 1199.98px) {
  .owl-carousel.home-slider .slider-item {
    background-position: center center !important;
  }
}


.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
}


.owl-carousel.home-slider .slider-item .slider-text {
  height: 750px;
  z-index: 0;
}


@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text {
    text-align: center;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .one-third {
  background-size: cover;
  width: 80%;
  position: relative;
  height: 650px;
  z-index: -1;
  /* -webkit-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
  box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16); */
}


/* .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
} */


@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-third {
    /* background-size: cover; */
    /* #sample{
    background: url(image-data.jpg);
    background-position: -100px -100px;
    width: 200px;
    height: 200px;
} */
    background-position: -400px -50px;
    width: 100%;
    z-index: 0;
  }


  .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
    opacity: 0.3;
  }
  .owl-carousel.home-slider .slider-item .slider-text .one-third:after {
    opacity: 0;
  }
}


.owl-carousel.home-slider .slider-item .slider-text .one-forth {
  width: 50%;
  position: relative;
}


@media (min-width: 768px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1200px;
    margin: 0 auto;
  }
}


@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow:-moz-scrollbars-vertical;
    z-index: 1;
    padding: 1em;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
  width: 100%;
}

/*
@media (min-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    max-width: 50%;
    padding-left: 45px;
    padding-right: 3em;
  }
}
*/


/*.owl-carousel.home-slider .slider-item .slider-text .icon-video {
  position: absolute;
  top: 120px;
  right: 70px;
  content: "";
  width: 70px;
  height: 70px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.owl-carousel.home-slider .slider-item .slider-text .icon-video span {
  font-size: 20px;
  color: #000000;
}
*/


.owl-carousel.home-slider .slider-item .slider-text .subheading {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0075f6;
}


.owl-carousel.home-slider .slider-item .slider-text .text {
  position: relative;
  z-index: 1;
}


.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 60px;
  color: #000000;
  line-height: 1.2;
  font-weight: 800;
}
.owl-carousel.home-slider .slider-item .slider-text h1 span {
  font-weight: 800;
  color: #0075f6;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    color: #fff;
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}


.owl-carousel.home-slider .slider-item .slider-text h2 {
  font-size: 30px;
  font-weight: 400;
}

/*
@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h2 {
    color: #fff;
  }
}
.owl-carousel.home-slider .slider-item .slider-text p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 23px;
  }
}
.owl-carousel.home-slider .slider-item .slider-text .btn-custom {
  border: 1px solid #0075f6;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}
.owl-carousel.home-slider .owl-nav {
  position: absolute;
  bottom: 60px !important;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .owl-carousel.home-slider .owl-nav {
    display: none;
  }
}
.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff !important;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 1;
}
.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
  font-size: 20px;
  margin-top: 7px;
  color: #000000;
}
.owl-carousel.home-slider .owl-nav .owl-prev {
  top: 0 !important;
  right: 0 !important;
}
@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-nav .owl-prev {
    right: 61px !important;
  }
}
.owl-carousel.home-slider .owl-nav .owl-prev:hover,
.owl-carousel.home-slider .owl-nav .owl-prev:focus {
  background: #000000 !important;
  outline: none !important;
}
.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-prev:focus span:before {
  font-size: 20px;
  margin-top: 7px;
  color: #0075f6;
}
.owl-carousel.home-slider .owl-nav .owl-next {
  top: 0 !important;
  right: 0 !important;
}
@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-nav .owl-next {
    right: 0 !important;
  }
}
.owl-carousel.home-slider .owl-nav .owl-next:hover,
.owl-carousel.home-slider .owl-nav .owl-next:focus {
  background: #000000 !important;
  outline: none !important;
}
.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
  font-size: 24px;
  margin-top: 7px;
  color: #0075f6;
}
.owl-carousel.home-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-dots {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .owl-carousel.home-slider .owl-dots {
    bottom: 5px;
  }
}
.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}
.owl-carousel.home-slider .owl-dots .owl-dot.active {
  background: #fff;
}
.hero-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  background: #000000;
}
.hero-wrap.hero-wrap-2 {
  height: 600px;
  position: relative;
  background-position: top center;
}
.hero-wrap.hero-wrap-2 .overlay {
  width: 100%;
  opacity: 0.3;
  background: #fff;
}
.hero-wrap.hero-wrap-2 .slider-text {
  height: 600px;
}

.slider-text h1 {
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  .slider-text h1 {
    font-size: 40px;
  }
}

.slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.slider-text p strong {
  font-weight: 700;
}
.slider-text p strong a {
  color: #000000;
} */
